*{
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: space-around; 
    justify-items: center; 
    align-content: center;
    align-items: center;
    background-image: linear-gradient(to right , #034378,#2d4e68);
    width:100vw;
    height: 100vh;
    
}
 